* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul, ol{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
li {
    margin-left: 1.2rem;
}
a {
    color: #0000c7;
}
header {
    padding: 1rem;
}
/* Logo */
.logo-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.logo {
    width: 3rem;
}
.text-images-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.wordmark, .tagline {
    width: 8rem;
}
/* Structure */
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.main {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar content anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
}
.content {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content ul, .content ol {
    margin-left: 1.5rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    border-right: solid 1px #cdcdcd;
    padding: 1rem;
}
.sidebar {
    border-left: solid 1px #cdcdcd;
    border-right: solid 1px #cdcdcd;
    padding: 1rem;
}
.anchors nav ul li a, 
.sidebar nav ul li a {
    color: #010101;
    font-size: .9rem;
}
.anchors nav ul li, 
.sidebar nav ul li{
    list-style: none;
    margin: 0;
}
.anchors h3, 
.sidebar h3{
    font-size: 1.4rem;
}
.ref-anchor {
    text-decoration: none;
}